@font-face {
    font-family: "Outfit";
    src: url(https://fonts.google.com/specimen/Outfit);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body{
max-width: 1440px;
margin: auto;
background-color: hsl(0, 0%, 95%)
}

main{
color: hsla(0, 0%, 100%, 0.75);
margin: 2em;
display: flex;
justify-content: center;
align-items: center;

}

#all{
    display: flex;
    border-radius: 5px;
    width: 66%
}

#sedans{
    padding: 3em;
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

#suvs{
    padding: 3em;
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    padding: 3em;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

img{
    size: 24px;
}

h1{
    font-family: "Big Shoulders Display";
    font-size: 35px;
    color: hsl(0, 0%, 95%);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
    font-size: 15px;
    padding-bottom: 5em;
    line-height: 25px;
}

.learnMore_sedans{
    text-decoration: none;
    border-block: hsl(0, 0%, 95%);
    border: solid;
    padding: 1em 2em;
    border-radius: 35px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    font-family: "Lexend Deca";
}

.learnMore_sedans:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

.learnMore_suvs{
    text-decoration: none;
    border-block: hsl(0, 0%, 95%);
    border: solid;
    padding: 1em 2em;
    border-radius: 35px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    font-family: "Lexend Deca";
}

.learnMore_suvs:hover{
    background-color: hsl(184, 100%, 22%); 
    color: hsl(0, 0%, 95%);
}

.learnMore_luxury{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.75);
    border-block: hsl(0, 0%, 95%);
    border: solid;
    padding: 1em 2em;
    border-radius: 35px;
    background-color: hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
    font-family: "Lexend Deca";
    overflow-wrap: nowrap;
}

.learnMore_luxury:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-family: "Lexend Deca";
    color:hsl(179, 100%, 13%);
    margin: 1em;
  }

  .attribution a {
   color:hsl(179, 100%, 13%);
   color: hsl(31, 77%, 52%);
  }

  @media only screen and (max-width: 600px) {
    #all{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 30px 0;
    }

    #sedans, #suvs, #luxury{
        padding: 2em;
    }

    #sedans{
        border-radius: 10px 10px 0 0;
    }

    #luxury{
        border-radius: 0 0 10px 10px;
    }

    .learnMore_sedans, .learnMore_suvs, .learnMore_luxury{
        padding: 0.5em 1em;
    }
  }
